body{
    background-color: #332002;
}

p{
    font-family: Aparajita;
    font-size: medium;
    color: #f2a0cd;
    text-align: center;
}

img{
    width: 150pt;
    height: 193pt;
    text-align: center;
}
.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.image-row img {
    width: 150px;
    height: auto;
    border-radius: 6px;
}
