body{
    background-color: #332002;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p{
    font-family: Aparajita;
    font-size: medium;
    color: #f2a0cd;
    text-align: center;
}

img{
    width: 250pt;
    height: 280pt;
    text-align: center;
}
.image-row {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px;
    max-width: 90%;
    margin: 0 auto;
}

.image-row img {
    width: 150px;
    height: auto;
    border-radius: 6px;
}
