body{
    background-color: #332002;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sticky-banner{
    top: 0;
    position: sticky;
    background-color:#412903 ;
    width: 100%;
    color: #f2a0cd;
    padding: 10px 20px;
    display:flex;
    justify-content: center;

}

.sticky-banner .logo{
    font-family: Darling Modern;
    font-size: medium;
}

.sticky-banner .search{
    font-size: medium;
}

.sticky-banner .cart{
    font-size: medium;
}

p{
    font-family: Aparajita;
    font-size: medium;
    color: #f2a0cd;
    text-align: center;
}

img{
    width: 250px;
    height: 275px;
    text-align: center;
}
.image-row {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px;
    max-width: 90%;
    margin: 0 auto;
}

.image-row img {
    width: 250px;
    height: auto;
    border-radius: 6px;
}
