body{
    background-color: #332002;
    margin: 0;
}

.sticky-banner{
    top: 0;
    position: sticky;
    background-color:#412903 ;
    width: 100%;
    color: #f2a0cd;
    padding: 10px 20px;
    display:flex;
    justify-content: space-evenly;

}

.sticky-banner .logo{
    font-family: "Great Vibes", cursive;
    font-size: 32px;
}

.sticky-banner .search{
    font-size: 30px;
}

.sticky-banner .cart{
    font-size: 30px;
}

p{
    font-family: Aparajita;
    font-size: medium;
    color: #f2a0cd;
    text-align: center;
}

img{
    width: 250px;
    height: 275px;
    text-align: center;
}
.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px;
    max-width: 90%;
    margin: 0 auto;
}

.image-row img {
    width: 250px;
    height: 275px;
    border-radius: 6px;
    object-fit: contain;
    border: 2px solid #f2a0cd;

}

.main-content{
    display: flex;
    justify-content: center;
    height: calc(100vh - 60px);
}

.image-box{
    position: relative;
    width: 250px;
    height: 275px;
    border: 2px solid #f2a0cd;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #93457062;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text{
    position: absolute;
    color: #332002;;
    background-color:  #93457062;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
}