body{
    background-color: #332002;
}

p{
    font-family: Aparajita;
    font-size: medium;
    color: #f2a0cd;
    text-align: center;
}

img{
    width: 150pt;
    height: 193pt;
    text-align: center;
}