body{
    background-color: #332002;
    margin: 0;
    padding-top: 70px;
}

.sticky-banner{
    top: 0;
    position: sticky;
    background-color:#412903 ;
    width: 100%;
    color: #f2a0cd;
    padding: 10px 20px;
    display:flex;
    justify-content: space-evenly;

}

.sticky-banner .logo{
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    color: #f2a0cd;
    text-decoration: none;
}

.logo:visited{
    color: #f2a0cd;
}

.logo:hover{
    cursor: pointer;
}

.sticky-banner .search{
    font-size: 16px;
}

#searchBox{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #412903;
    outline: none;
}

.search-results{
    position: absolute;
    background-color: #412903;
    color: #f2a0cd;
    border: #412903;
    margin-top: 2px;
    width: 200px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.search-results div{
    padding: 5px;
    cursor: pointer;
}

.search-results div:hover{
    background-color: #f17cbd33;
}

.sticky-banner .cart{
    font-size: 26px;
    text-decoration: none;
    color: #f2a0cd;
}

.cart:visited{
    color: #f2a0cd;
}

.cart:hover{
    cursor: pointer;
}

p{
    font-family: Aparajita;
    font-size: medium;
    color: #f2a0cd;
    text-align: center;
    justify-content: center;
}

img{
    width: 250px;
    height: 275px;
    text-align: center;
}
.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.image-row img {
    width: 250px;
    height: 275px;
    border-radius: 6px;
    object-fit: contain;
    border: 2px solid #f2a0cd;

}

.main-content{
    display: flex;
    justify-content: center;
    height: calc(100vh - 60px);
}

.image-box{
    position: relative;
    width: 250px;
    height: 275px;
    border: 2px solid #f2a0cd;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #93457062;
}

.image-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #93457048;
    z-index: 1;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text{
    position: absolute;
    color: #f17cbd;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 22px;
    text-align: center;
}

.no-overlay::before{
    display: none;
}

.no-overlay .overlay-text{
    display: none;
}

@media(max-width: 768px) {
    .sticky-banner{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    body {
        padding-top: 70px;
    }
}

@media(max-width: 768px){
    .image-box{
        width: 180px;
        height: 200px;
    }
    .overlay-text{
        font-size: 16px;
    }
}

footer{
    color:#f2a0cd;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

footer a{
    color: #f2a0cd;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    color: #f17cbd;
    background-color: #412903;
    font-size: 18px;
    border-color: #f2a0cd;
}

th, td{
    border-color: 1px soild #f17cbd;
    padding: 10px;
    text-align: center;
}

th{
    color: #f2a0cd;
    font-weight: bold;
}