body{
    background-color: #332002;
    margin: 0;
}

.sticky-banner{
    top: 0;
    position: sticky;
    background-color:#412903 ;
    width: 100%;
    color: #f2a0cd;
    padding: 10px 20px;
    display:flex;
    justify-content: space-evenly;

}

.sticky-banner .logo{
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    color: #f2a0cd;
    text-decoration: none;
}

.logo:visited{
    color: #f2a0cd;
}

.logo:hover{
    cursor: pointer;
}

.sticky-banner .search{
    font-size: 30px;
}

.sticky-banner .cart{
    font-size: 30px;
}

p{
    font-family: Aparajita;
    font-size: medium;
    color: #f2a0cd;
    text-align: center;
}

img{
    width: 250px;
    height: 275px;
    text-align: center;
}
.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.image-row img {
    width: 250px;
    height: 275px;
    border-radius: 6px;
    object-fit: contain;
    border: 2px solid #f2a0cd;

}

.main-content{
    display: flex;
    justify-content: center;
    height: calc(100vh - 60px);
}

.image-box{
    position: relative;
    width: 250px;
    height: 275px;
    border: 2px solid #f2a0cd;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #93457062;
}

.image-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #93457048;
    z-index: 1;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text{
    position: absolute;
    color: #f17cbd;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 22px;
    text-align: center;
}

.no-overlay::before{
    display: none;
}

.no-overlay .overlay-text{
    display: none;
}

@media(max-width: 768px) {
    .sticky-banner{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    body {
        padding-top: 70px;
    }
}

@media(max-width: 768px){
    .image-box{
        width: 180px;
        height: 200px;
    }
    .overlay-text{
        font-size: 16px;
    }
}